a {
  color: #ffffff;
}

.contents {
}

.contents .inner {
  width: 1200px;
  margin: 0 auto;
}

.controls {
}

.header {
  background: #000;
  color: #ffffff;
}
.header .inner {
  width: 1130px;
  padding: 20px 35px;
}
.header h1 {
}
.header .lead {
  font-size: 9px;
}
.header .controls {
  float: right;
  text-align: right;
}
.header .controls ul.account {
  overflow: hidden;
  margin-bottom: 10px;
}
.header .controls ul.account li {
  display: inline;
  margin: 0 0 0 5px;
}
.header .controls ul.account li a {
  text-decoration: none;
  width: 80px;
  padding: 8px 20px;
  font-size: 9px;
  background: #c99e19;
}


.main {
  overflow: hidden;
  margin-bottom: 280px;
}
.main .left {
  padding: 130px 0 0 35px;
  width: 275px;
  float: left;
}
.main .left .navigation {
  padding-left: 25px;
}
.main .left .navigation li {
  margin-bottom :20px;
}
.main .right {
  padding: 130px 0 0 60px;
  width: 830px;
  float: right;
}

.main h2.art {
  margin-top: -56px;
}

.main h3.art {
  color: #c99e19;
  font-size: 24px;
  margin: 20px 0;
}
.main .well {
  margin-bottom: 90px;
  color: #595757;
}

.main .hr {
  margin-left: -280px;
  margin-bottom: 77px;
  height: 40px;
  background: url(/images/main_hr.jpg) left top no-repeat;
}

.main .art_image {
  position: relative;
  margin-left: -60px;
  margin-bottom: 77px;
}
.main .art_image .image {
}
.main .art_image .description {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 360px;
  height: 150px;
}
.main .art_image .description .title {
  color: #c99e19;
  text-indent: -1.0em;
}
.main .art_image .description .info {
}


.footer {
}

.footer .top {
  padding: 60px 0 80px;
  background: #d3d1d0;
}
.footer .top .navigation {
  text-align: center;
  margin-bottom: 20px;
}
.footer .top .navigation li {
  display: inline;
  padding: 0 13px;
}
.footer .top .contact {
  text-align: center;
}
.footer .top p {
  margin-bottom: 5px;
}
.footer .top .social {
  text-align: center;
}
.footer .top .social li {
  display: inline;
}
.footer .bottom {
  background: #2a2a2a;
  color: #979797;
  font-size: 9px;
  overflow: hidden;
  padding: 5px;
}
.footer .bottom .left {
  float: left;
}
.footer .bottom .right {
  float: right;
}
