html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #000;
  color: #FFF;
  font-size: 9px;
}
a {
  color: #FFF;
}

.background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  .image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: contain;
  }

  .bg_info {
    position: absolute;
    right: 5px;
    bottom: 25px;
    font-size: 9px;
  }
}

.background-controls {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  .previous {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -15px;
    img {
      cursor: pointer;
    }
  }

  .next {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -15px;
    img {
      cursor: pointer;
    }
  }
}

.contents {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  .controls {
    position: absolute;
    right: 20px;
    top: 20px;
    ul {
      li {
        float: left;
        margin: 0 5px;
        a {
          text-decoration: none;
          width: 80px;
          padding: 8px 20px;
          font-size: 9px;
          background: #c99e19;
        }
      }
    }
  }

  .header {
    position: absolute;
    top: 20px;
    left: 30px;
  }

  .main_left {
    position: absolute;
    top: 30%;
    left: 30px;
    width: 37%;
    .news {
      margin: 0 0 40px;
      ul {
        li {
          padding: 3px 0;
          border-bottom: dotted 1px #ffffff;
        }
      }
    }
    .info {
      margin: 0 0 40px;
      ul {
        li {
          padding: 3px 0;
          border-bottom: dotted 1px #ffffff;
        }
      }
    }
    .contact {
      ul.social {
        overflow: hidden;
        li {
          float: left;
          margin-right: 5px;
        }
      }
    }
  }

  .main_right {
    position: absolute;
    top: 120px;
    right: 40px;
    width: 25%;

    ul {
      li {
        margin-bottom: 3%;
      }
    }
  }

  .footer {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 9px;
    background: rgba(0, 0, 0, 0.8);

    .left {
      float: left;
      padding: 5px;
    }

    .right {
      float: right;
      padding: 5px;
    }
  }
}

.frontcover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/frontcover.jpg) center center no-repeat #fff;
  background-size: cover;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
